.destinos {
    background: rgb(254, 207, 0);
    background: linear-gradient(63deg, rgba(254, 207, 0, 1) 73%, rgba(255, 135, 0, 1) 100%);
    padding-bottom: 20px;
    h2 {
        color: white;
        padding: 7px 7px 5px 15px;
        font-size: 25px;
        background: rgb(0, 0, 0);
        background: linear-gradient(140deg, rgba(0, 0, 0, 1) 0%, rgba(60, 32, 0, 1) 73%, rgba(255, 135, 0, 1) 100%);
    }
    .cards-conteiner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card {
            color: black;
            width: 95%;
            margin: 12px 0px;
            border-radius: 10px;
            box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.75);
            overflow: hidden;
            &:hover {
                transform: scale(1.01);
            }
            @media screen and (min-width: 768px) {
                width: 47.5%;
            }
            .imgs-display {
                display: flex;
                height: 100px;
                justify-content: stretch;
                @media screen and (min-width: 426px) {
                    height: 120px;
                }
                @media screen and (min-width: 768px) {
                    height: 150px;
                }
                div {
                    box-shadow: 8px 0px 10px -4px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 8px 0px 10px -4px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 8px 0px 10px -4px rgba(0, 0, 0, 0.75);
                    img {
                        object-fit: fill;
                    }
                }
            }
            .card-info {
                margin: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    margin: 0 0 5px 0;
                }
                a {
                    align-self: flex-end;
                }
                .flex-wrap {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: stretch;
                    .ver-mas {
                        display: flex;
                        justify-content: flex-end;
                        button {
                            font-size: 15px;
                            color: rgb(117, 49, 4);
                            padding: 7px 7px 7px 14px;
                            margin: 5px;
                            border-radius: 10px;
                            background-color: $primario-naranja;
                            border: none;
                            cursor: pointer;
                            i {
                                margin-left: 5px;
                            }
                        }
                    }
                }
                .flex-wrap>* {
                    flex: 1 1 160px;
                }
            }
        }
    }
}

.sesenta {
    width: 60%;
}

.veinte {
    width: 20%;
}

.balcon-1 {
    background: center url(../assets/destinos/balcon-pissis/4.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.balcon-2 {
    background: center url(../assets/destinos/balcon-pissis/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.balcon-3 {
    background: center url(../assets/destinos/balcon-pissis/3.jpeg) no-repeat;
    background-size: cover;
}

.talampaya-1 {
    width: 60%;
    background: center url(../assets/destinos/talampaya/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.talampaya-2 {
    background: center url(../assets/destinos/talampaya/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.talampaya-3 {
    background: center url(../assets/destinos/talampaya/4.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.yungas-1 {
    background: center url(../assets/destinos/yungas/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.yungas-2 {
    background: center url(../assets/destinos/yungas/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.yungas-3 {
    background: center url(../assets/destinos/yungas/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.rioYuspe-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.rioYuspe-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.rioYuspe-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.esteros-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.esteros-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.esteros-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.corral-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.corral-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.corral-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.taton-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.taton-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.taton-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.pomez-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.pomez-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.pomez-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.cascada-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.cascada-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.cascada-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.corona-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.corona-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.corona-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.saltos-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.saltos-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.saltos-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.saujil-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.saujil-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.saujil-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}

.dino-1 {
    background: center url(../assets/destinos/dunas-taton/1.jpeg) no-repeat;
    background-size: cover;
    z-index: 4;
}

.dino-2 {
    background: center url(../assets/destinos/dunas-taton/2.jpeg) no-repeat;
    background-size: cover;
    z-index: 3;
}

.dino-3 {
    background: center url(../assets/destinos/dunas-taton/3.jpeg) no-repeat;
    background-size: cover;
    z-index: 2;
}